*~
.idea/
.vscode/
Project.ede
.projectile
target/
.spin/
.env
**/*insert.sql
**/*session.sql
spin.dev.toml
runtime-config.dev.toml
spin.dev.toml

.gitignore
deploy.sh
Compose.yaml
TODOs.md
runtime-config.toml

kite.db*

**.nogit
spin
