{{env.API_CHECKSUM}}  api.wasm
{{env.FOLLOWERS_CHECKSUM}}  followers.wasm
{{env.FOLLOWING}}  following.wasm
{{env.INBOX}}  inbox.wasm
{{env.OAUTH}}  oauth.wasm
{{env.OUBOX}}  outbox.wasm
{{env.WEB}}  web.wasm
{{env.WELLKNOWN}}  well_known.wasm