{{env.API_CHECKSUM}}  api.wasm
{{env.FOLLOWERS_CHECKSUM}}  followers.wasm
{{env.FOLLOWING_CHECKSUM}}  following.wasm
{{env.INBOX_CHECKSUM}}  inbox.wasm
{{env.OAUTH_CHECKSUM}}  oauth.wasm
{{env.OUTBOX_CHECKSUM}}  outbox.wasm
{{env.WEB_CHECKSUM}}  web.wasm
{{env.WELLKNOWN_CHECKSUM}}  well_known.wasm